/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* My Edit
---------------------------------------------------------- */
.navbar {
    background-color: #026AA7;
}

.navbar-brand {
    font-size: 16px;
    margin-right: 0;
    border-radius: 4px;
}

    .nav-item:hover, .navbar-brand:hover {
        background-color: #b2d7ff46;
    }

.nav-item {
    position: relative;
    border-radius: 4px;
}

.nav-link, .navbar-brand {
    padding: 4px 1.25rem;
}

.dropdown-menu {
    top: calc(100% + 8px);
    width: 300px;
}

/* Card item */
.card-list {
    list-style: none;
    padding: 0;
}

.card-list-item {
    margin-bottom: 12px;
}

.card-list-link {
    display: block;
    text-decoration: none !important;
    color: #333;
    padding: 0px 4px;
}

    .card-list-link:hover {
        background-color: #ccc;
    }

.card-item {
    height: 40px;
    display: flex;
    align-items: center;
}

    .card-item img {
        height: 100%;
        display: block;
    }

.card-item__info {
    overflow: hidden;
    font-weight: 500;
    margin-left: 12px;
    margin-bottom: 0;
}

/* User manager */
.action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-manager {
    margin-left: 12px;
}

    .user-manager img {
        height: 35px;
        border-radius: 50%;
        position: relative;
    }

.user-manager-btn {
    background-color: transparent;
    border: none;
}

.user-manager .dropdown-menu {
    left: -270px;
}