@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="login" asp-controller="trelloauthentication" class="btn btn-outline-primary">Log In with Trello</a>

    }
    else
    {
        <p>You are logging</p>
    }
</div>