@using Microsoft.AspNetCore.Identity
@using trello_clone.web.Services.IServices

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="action">
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm">
        </div>
        <div class="user-manager dropdown">
            <button class="user-manager-btn" type="button" id="userManagerMenu" data-toggle="dropdown" aria-expanded="false">
                <img src="~/images/Customizable-SVG-Avatar-Generator-In-JavaScript-Avataaars.js.png" alt="user">
            </button>

            <div class="dropdown-menu" aria-labelledby="userManagerMenu">
                <a class="dropdown-item" asp-action="login" asp-controller="TrelloAuthorization">Lấy Token</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Quản lý thông tin</a>

                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item">Đăng xuất</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
    }
</div>
